.nav {
  grid-area: n;
  background-color: #bc986a;
  padding-top: 15px;
}

.list {
  list-style: none;
}

.item {
  margin-bottom: 15px;
}

.item a {
  font-size: 26px;
  color: white;
  text-decoration: none;
}

.item a.active {
  color: #659dbd;
}
